.form_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_input label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_input input {
    padding: 0.7em;
    border: none;
}